<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.kuzuro.shop.mappers.adminMapper">
	
	<!-- 카테고리 호출 -->
	<select id="category" resultType="com.kuzuro.shop.admin.domain.CategoryVO">
		WITH recursive cte AS
		(
			SELECT 	1 as level, cateName, cateCode, cateCodeRef
			FROM 		tbl_goods_category
			WHERE 	cateCodeRef IS NULL
			UNION ALL 
			SELECT 1 + level AS level, p.cateName, p.cateCode, p.cateCodeRef
			FROM tbl_goods_category p
			INNER JOIN cte ON p.cateCodeRef = cte.cateCode
		)
		SELECT 	level, cateName, cateCode, cateCodeRef
		FROM 		cte
		ORDER BY level, cateCode
	</select>
	
	<!-- 상품 등록 -->
	<insert id="register">
		INSERT INTO tbl_goods 
				(gdsName, cateCode, gdsPrice, gdsStock, gdsDes)
		VALUES 	(#{gdsName}, #{cateCode}, #{gdsPrice}, #{gdsStock}, #{gdsDes});
	</insert>
	
	<!-- 상폼 목록 -->
	<select id="goodsList" resultType="com.kuzuro.shop.admin.domain.GoodsVO">
		SELECT	gdsNum, gdsName, cateCode, gdsPrice, gdsStock, gdsDes, gdsImg, gdsDate
		FROM		tbl_goods
		ORDER BY	gdsNum DESC	
	</select>
	
	<!-- 상품 조회 -->
	<!-- 
	<select id="goodsView" resultType="com.kuzuro.shop.admin.domain.GoodsVO">
		SELECT	gdsNum, gdsName, cateCode, gdsPrice, gdsStock, gdsDes, gdsImg, gdsDate
		FROM		tbl_goods
		WHERE		gdsNum = #{gdsNum}	
	</select>
	 -->
	 
	<!-- 상품 조회 + 카테고리 조인 -->
	<select id="goodsView" resultType="com.kuzuro.shop.admin.domain.GoodsViewVO">
		SELECT	gdsNum, gdsName, g.cateCode, c.cateName, c.cateCodeRef, gdsPrice, gdsStock, gdsDes, gdsImg, gdsDate
		FROM		tbl_goods g
		INNER JOIN  tbl_goods_category c ON g.cateCode = c.cateCode
		WHERE		gdsNum = #{gdsNum}	
	</select>
	
	<!-- 상품 수정 -->
	<update id="goodsModify">
		UPDATE 	tbl_goods
		SET 	gdsName = #{gdsName}
			,	cateCode = #{cateCode}
			,	gdsPrice = #{gdsPrice}
			,	gdsStock = #{gdsStock}
			,	gdsDes = #{gdsDes}
		WHERE 	gdsNum = #{gdsNum}
	</update>
	
	<!-- 상품 삭제 -->
	<delete id="goodsDelete">
		DELETE FROM tbl_goods
		WHERE	gdsNum = #{gdsNum}
	</delete>

</mapper>

